<%- include('../includes/head.ejs') %>
<main>
    <a href="/chief/<%= userId %>/workers">Рабочие</a>
    <a href="/chief/<%= userId %>/buisness-trips">Командировки</a>
</main>
<%- include('../includes/end.ejs') %>