<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>
<div class="container">
    <form action="/admin/stations/add-station" method="post">

        <div class="row">
            <div class="input-field">
                <label for="name">Название*</label>
                <input class="validate" type="text" name="name" id="name" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="adress">Адрес*</label>
                <input class="validate" type="text" name="adress" id="adress" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="imageURL">URL фотографии*</label>
                <input type="text" name="imageURL" id="imageURL" class="validate" required>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="description">Описание*</label>
                <textarea name="description" id="description"class="materialize-textarea validate" required></textarea>
                <span class="helper-text" data-error="Заполните поле"></span>
            </div>
        </div>
        <div class="row">
            <button class="btn cyan waves-effect col s3 offset-s6" type="submit">Добавить точку</button>
            <a class="btn red col s2 offset-s1" href="/admin/<%= userId %>/stations">Отменить</a>
        </div>
    </div>
    </form>
<%- include('../includes/end.ejs') %>