<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>
<main>
    <form action="/admin/stations/add-station" method="post">
        <label for="name">Название*:</label>
        <input type="text" name="name" id="name" required><br>
        <label for="adress">Адрес*:</label>
        <input type="text" name="adress" id="adress" required>
        <input type="hidden" name="userId" value="<%= userId %>"><br>
        <button type="submit">Добавить точку</button>
    </form>
</main>
<%- include('../includes/end.ejs') %>