<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs', {panel: 'admin'}) %>
<div class="container">
    <main class="valign-wrapper onescreen">
        <h1 class="col s12 center-align cyan-text">Здравствуйте! <br> Для начала работы нажмите на одну из вкладок в шапке сайта</h1>
    </main>
</div>
<%- include('../includes/end.ejs') %>