<%- include('../includes/head.ejs') %>
<main>
    <a href="/admin/chiefs">Начальники</a>
    <a href="/admin/departments">Отделы</a>
    <a href="/admin/workers">Работники</a>
</main>
<%- include('../includes/end.ejs') %>