<%- include('../includes/head.ejs'); %>
<%- include('../includes/header.ejs', {panel: 'main'}) %>
<div class="container">
    <main class="valign-wrapper col s12 row onescreen">
        <div class="col s12 cyan-text">
            <h3>
                Данный проект разработан для автоматизации учета командировок в организации
            </h3>
        </div>
        <div class="col s12 cyan-text">
            <h3>
                Сделано учащимся 4-го курса ПЗТ-31 Чекановым Владиславом
            </h3>
        </div>
    </main>
</div>
<%- include('../includes/end.ejs'); %>