<%- include('../includes/head.ejs'); %>
<%- include('../includes/header.ejs', {panel: 'main'}) %>
<div class="container">
    <main class="row valign-wrapper onescreen">
        <form class="col s6 offset-s3 auth-form" action="/main/auth-user" method="post">
            <div class="row center-align">
                <h2>Регистрация</h2>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <label for="login">Логин:</label>
                    <input class="validate" type="text" name="login" id="login" required>
                    <span class="helper-text" data-error="Заполните поле"></span>
                </div>    
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <label for="password">Пароль:</label>
                    <input class="validate" type="password" name="password" id="password" required> 
                    <span class="helper-text" data-error="Заполните поле"></span>                           
                </div>
            </div>
            <% if (userNotFound) {%>
                <div class="row center-align">
                    <h5 class="red-text">Неверный логин или пароль</h5>
                </div>
            <% } %>
            <div class="row">
                <button class="btn waves-effect waves-light cyan col s3 offset-s4" type="submit">Войти</button>
            </div>
        </form>
    </main>
</div>
<%- include('../includes/end.ejs'); %>